@charset "utf-8";

:root {
   --gradient: radial-gradient( circle farthest-corner at 0% 0%,  rgba(247,108,108,1) 0%, rgb(238, 237, 237) 38%);
   --mobile-gradient: radial-gradient( circle farthest-corner at 0% 0%,  rgba(247,108,108,1) 0%, rgb(238, 237, 237) 98%);
   --wild-red: rgb(250, 82, 82);
   --opa-blue: #61616113;
}


header,
section,
footer,
aside,
nav,
main,
article,
figure {
   display: block;
}

div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
   font-weight: 400;
}

html,
body {
   height: 100%;
   background-color: white;
   border: 0 solid transparent;
   font-size: 16px;
   margin: 0;
   min-height: 100%;
   padding: 0;
   width: 100%;
   display: block;
   font-family: 'Raleway', sans-serif;
}

img,
object,
embed,
canvas,
video,
audio,
picture,
svg {
   max-width: 100%;
   height: auto;
}

img {
   display: block;
}

a {
   text-decoration: none;
   color: black;
}

/* ------------------------------- RECURENTES -- */
.clear {
   display: block;
   zoom: 1;
}

.clear:after {
   content: " ";
   display: block;
   font-size: 0;
   height: 0;
   clear: both;
   visibility: hidden;
}

.center {
   width: 960px;
   margin: 0 auto;
}

/* ------------------------------- END RECURENTES -- */
/* ------------------------------- SIMILAIRES ------ */
.primary-btn {
   border: solid 1px black;
   padding: 8px 50px;
   background-color: white;
   border-radius: 5px;
}

::placeholder {
   color : rgb(180, 180, 180);
   font-weight : 500;
}

label {
   font-weight: 400;
}

/* ---------- DEBUT CSS MOBILE ---------- */

/* ---------- HEADER ---------- */
header {
   padding: 5px 20px;
   background: var(--mobile-gradient);
   position: fixed;
   width: 100%;
   z-index: 999;
   top: 0;
}
header div#logo-div {
   display: block;
}
header div#logo-div h1 a#logo img {
   display: inline-block;
   vertical-align: middle;
   background-color: white;
   border-radius: 50%;
   padding: 3px;
   border: solid 1px black;
   margin-right: 8px;
}

#logo-div h1 {
   display: inline-block;
   color: white;
   font-size: 20px;
   font-weight: 700;
   line-height: 40px;
   vertical-align: middle;
}

header div#logo-div h1 a#logo {
   color: white;
}

/* ---------- SEARCH + LOGS ---------- */
header div#interface {
   display: block;
   margin: 10px auto 5px auto;
}
/* ---------- SEARCH ---------- */
header div#interface div#searchbar {
   position: relative;
   background-color: white;
   border-radius: 20px;
   padding: 8px 10px 10px 40px;
   width: 100%;
}
header div#interface div#searchbar input {
   border: none;
   background-color: white;
   width: 100%;
}
header div#interface div#searchbar button {
   position: absolute;
   top: 0px;
   bottom: 0;
   left: 5px;
   right: 0;
   border: none;
   background-color: transparent;
   cursor: pointer;
}
/* ---------- LOGIN ---------- */
header div#interface div#connect {
   display: none;
}
/* ---------- MAIN CONTENT ---------- */
main {
   background-color: #fdfefe;
   min-height: calc(100vh - 42px);
   margin-top: 101px 0;
}
main div.container {
   margin-top: 101px;
   padding: 10px 20px;
   margin-bottom: 50px;
}
/* ---------- MENU DESKTOP ---------- */
main aside#sidebar-nav {
   display: none;
}
/* ---------- MENU MOBILE ---------- */

main div#burger {
   position: fixed;
   z-index: 999;
   background-color: rgba(53, 53, 53, 0.233);
   color: white;
   padding: 8px 6px;
   border-radius: 5px;
   top: 9px;
   right: 20px;
   cursor: pointer;
}
main div#burger p {
   display: inline-block;
}
main div#burger span {
   position: relative;
   top: -3px;
   display: inline-block;
   width: 25px;
   height: 4px;
   border-radius: 5px;
   background-color: white;
   transition: all 0.2s;
}
main div#burger span:before {
   content: "";
   display: block;
   position: absolute;
   top: -8px;
   width: 25px;
   height: 4px;
   border-radius: 5px;
   background-color: white;
   transition: all 0.3s;
}
main div#burger span:after {
   content: "";
   display: block;
   position: absolute;
   top: 8px;
   width: 25px;
   height: 4px;
   border-radius: 5px;
   background-color: white;
   transition: all 0.3s;
}
main aside#mobile-nav {
   background-color: white;
   width: 300px;
   height: 100vh;
   position: fixed;
   top: 0;
   z-index: 998;
   padding-top: 80px;
   transform: translateX(-300px);
   transition: all 1s;
}
/* BURGER CLASSES */
main aside#mobile-nav.open {
   transform: translateX(-0px);
}
main div#burger span.crossed:before {
   transform: rotate(-45deg);
   top: 0;
}
main div#burger span.crossed:after {
   transform: rotate(45deg);
   top: 0;
}
main div#burger span.crossed {
   background-color: transparent;
}







/* END BURGER CLASSES */
main aside#mobile-nav::after {
   content: "";
   display: block;
   position: absolute;
   top: 120px;
   right: 30px;
   bottom: 20px;
   width: 1px;
   background-color: black;
}
main aside#mobile-nav ul {
   font-size: 0;
   padding-top: 10px;
   margin-bottom: 40px;
}
main aside#mobile-nav ul li {
   margin: 30px 20px 0 40px;
   font-weight: 700;
}
main aside#mobile-nav ul li a {
   font-size: 14px;
   font-weight: 300;
}
main aside#mobile-nav ul li a i {
   width: 30px;
   text-align: center;
   font-size: 24px;
   color: rgb(243, 130, 130);
   padding: 2px;
   margin-right: 10px;
   vertical-align: middle;
}
main aside#mobile-nav p {
   text-align: left;
   font-size: 14px;
   padding: 0 10px 20px 10px;
   position: fixed;
   bottom: 60px;
}
main aside#mobile-nav p i {
   color: rgb(243, 130, 130);
}

/* Sign-up page */

#sign-up-form-container {
   width: 100%;
   padding-top: 180px;
}

#sign-up-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 35px;
}

#sign-up-form input, #sign-up-form label {
   padding: 8px 5px;
   width: 40%;
   font-weight: 700;
}

#sign-up-form label {
   font-weight: 400;
   min-width: 190px;
   text-align: center;
}

#sign-up-form input {
   border-radius: 2px;
   border : 0px;
   border-bottom: 1px solid;
   background-color : transparent;
   margin-bottom : 2%;
   min-width: 200px;
}

#sign-up-form button {
   color: white;
   padding: 6px 15px;
   margin: 25px 0;
   font-weight: 700;
}


/*USER PROFILE*/

#profile_header{
   display : flex;
   margin-bottom : 2%;
}

#profile_header img{
   min-width : 15%;
   margin-left : 1%;
   border-radius : 50%;
   border: solid 1px black;
   padding: 10px;
}

#profile_header h2{
   display : flex;
   align-items : center;
   margin-left : 2%;
}

#user_profile h3{
   margin-left : 1%;
   margin-bottom : 2%;
   margin-top : 4%;
   border-bottom : 3px var(--light-pink) solid;
   font-size : 1.4em;
}

#profile_items{
   margin : 2%;
}

#profile_items h4{
   margin-top : 2%;
}

#user_profile {
   margin: 20px 0 0 0;
}

#user_profile form{
   display : flex;
   flex-direction : column;
   align-items : center;
}

#user_profile input, #user_profile label{
   padding: 2% 2%;
   width: 40%;
   font-weight: 400;
   min-width : 75%;
   font-family : 'Roboto', sans-serif;
   font-size : 0.9em;
}

#user_profile input:not([type=file]):not([type=button]):not([type=submit]){
   border-radius: 2px;
   border : 0px;
   border-bottom: 1px solid;
   background-color : transparent;
   margin-bottom : 2%;
}

#user_profile input[type=submit]{
   font-weight: 400;
   color: white;
   margin-top : 5%;
   margin-bottom : 7%;
   min-width: 220px;
   cursor: pointer;
}

#user_profile input[type=button]{
   font-weight: 400;
   color: white;
   margin-top : 2%;
   margin-bottom : 7%;
   min-width: 220px;
   cursor: pointer;
}

#user_profile input[type=file]{
   cursor: pointer;
}


/*EDIT PROFIL*/

#user_profile textarea{
   width : 40%;
   height : 20vh;
   padding : 2% 2%;
   border-radius: 2px;
   border: none;
   border-bottom: solid 1px black;
   resize: none;
   min-width : 75%;
   font-size : 0.9em;
}

/* Bottom-navbar */

#bottom-navbar {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: flex-end;
   background-color: var(--mobile-gradient);
   padding: 10px 0;
   position: fixed;
   bottom: -5px;
   width: 100%;
   z-index: 999;

}

#bottom-navbar li {
   list-style-type: none;
   width: 100%;
   display: block;
   
}

#bottom-navbar li a {
   background-color: var(--wild-red);
   text-align: center;
   margin: 0 auto;
   width: 60px;
   display: block;
   font-size: 0;
   border-radius: 30px;
}

#bottom-navbar li a i {
   font-size: 20px;
   color:white;
   line-height: 60px;
}

/*---- fin bottom navbar ----*/

/*---- debut page home------ */

#add-post {
   background-color: white;
   width: 100%;
   display: flex;
   margin-bottom: 20px;
}

#blank {
   display: none;
}

#blank:after {
   content: "";
   display: block;
   width: 1px;
   height: calc(100% - 20px);
   background-color: black;
   position: absolute;
   right: 0;
   margin-top: 10px;
}

#post-form {
   display: inline-block;
   width: 100%;
   vertical-align: top;
   padding: 5px;
}

#post {
   border: solid 1px black;
   padding: 10px 20px 15px 20px;
}
#post img {
   border: solid 1px black;
   border-radius: 50%;
   width: 50px;
   display: inline-block;
   padding: 10px;
   margin-right: 20px;
}
#control-btn {
   display: flex;
   justify-content: space-between;
}
#control-btn button {
   cursor: pointer;
   padding: 8px 10px;
   width: 48%;
}
#control-btn, #control-send{
   padding: 10px;
}
#control-send {
   display: flex;
   justify-content: space-around;
}
#control-send a {
   display: inline-block;
}
#control-send a i {
   font-size: 28px;
   color: rgb(243, 130, 130);
   
}
textarea#post-text {
   display: inline-block;
   vertical-align: top;
   padding: 5px 15px;
   width: calc(100% - 75px);
   min-height: 80px;
   resize: none;
   border: none;
}
/*---- Debut css CARD -----*/
article.card {
   display: block;
   margin: 0 auto 20px auto;
   width: 100%;
   background-color: white;
   padding: 20px;
   border-radius: 15px;
   box-shadow: 4px 7px 17px 2px rgba(0, 0, 0, 0.521);
}
div.info-post {
   margin-bottom: 20px;
}

div.info-post img {
   border: solid 1px black;
   border-radius: 50%;
   width: 50px;
   display: inline-block;
   padding: 10px;
   margin-right: 20px;
}
div.profile-post {
   display: inline-block;
   vertical-align: top;
}
div.info-post div.profile-post strong {
   display: block;
   font-size: 20px;
}
div.info-post div.profile-post p {
   color: grey;
}
div.card-text {
   margin-bottom: 20px;
}
div.card-text p {
   font-size: 18px;
}
figure.post-media {
   margin-bottom: 20px;
}
figure.post-media img {
   display: block;
   margin: 0 auto;
   width: 100%;
}
figure.post-media video {
   display: block;
   margin: 0 auto;
   width: 100%;
}
div.card-buttons {
   display: flex;
   justify-content: space-around;
}
div.card-buttons button {
   cursor: pointer;
}
div.card-buttons div.share ul {
   font-size: 0;
   list-style-type: none;
   margin-top: 5px;

}
div.card-buttons div.share ul li {
   display: inline-block;
   margin: 0 10px;
}

div.card-buttons div.share ul li a i {
   font-size: 24px;
   color: rgb(243, 130, 130);
}
div.card-buttons button {
   padding: 8px 20px;
}
div.card-buttons button i {
   color: #43ab92;
}

div#asides-partners {
   width: calc(20% - 20px);
   margin: 10px 10px 10px 0;
}
aside#you-may-like, aside#partners {
   display: none;
}
/*------ Login Page ----*/

#login-logo{
   display: flex;
   flex-direction: column;
   align-items: center
}

#login-form-container{
   width: 100%;
   padding-top: 180px;      
}

#login-form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#login-form input, #login-form label {
   padding: 8px 15px;
   width: 70%;
   font-weight: 700;
}
#login-form input {
   border-radius: 2px;
   border : 0px;
   border-bottom: 1px solid;
   background-color : transparent;
}

#login-form button {
   color: white;
   padding: 6px 15px;
   margin: 25px 0;
   font-weight: 700;
}
/*------ Fin page home Mobile ----*/
/* ------ HOVERS BUTTONS -------*/
.example_f {
   border-radius: 4px;
   background: var(--wild-red);
   border: none;
   color: black;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   padding: 20px;
   width: 200px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
 }

/* ---------- FOOTER ---------- */
footer {
   display: none;
}

@media screen and (max-width: 400px) {
   main div#burger p {
      display: none;
   }
}