@charset "utf-8";

:root {
   --dark-blue: #665c84;
   --light-pink: #c06c84;
   --opa-blue: #665c8421;
}


header,
section,
footer,
aside,
nav,
main,
article,
figure {
   display: block;
}

div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   background-color: white;
   border: 0 solid transparent;
   font-size: 16px;
   margin: 0;
   min-height: 100%;
   padding: 0;
   width: 100%;
   display: block;
   font-family: 'Roboto', sans-serif;
}

img,
object,
embed,
canvas,
video,
audio,
picture,
svg {
   max-width: 100%;
   height: auto;
}

img {
   display: block;
}

a {
   text-decoration: none;
   color: black;
}

/* ------------------------------- RECURENTES -- */
.clear {
   display: block;
   zoom: 1;
}

.clear:after {
   content: " ";
   display: block;
   font-size: 0;
   height: 0;
   clear: both;
   visibility: hidden;
}

.center {
   width: 960px;
   margin: 0 auto;
}

/* ------------------------------- END RECURENTES -- */
/* ------------------------------- SIMILAIRES ------ */
.primary-btn {
   border: solid 1px black;
   padding: 8px 50px;
   background-color: white;
   border-radius: 5px;
}

/* ---------- DEBUT CSS MOBILE ---------- */

/* ---------- HEADER ---------- */
header {
   padding: 3px 20px;
   background-color: var(--dark-blue);
   position: fixed;
   width: 100%;
   z-index: 999;
   top: 0;
}
header div#logo-div {
   display: block;
}
header div#logo-div img {
   display: inline-block;
   vertical-align: middle;
   background-color: white;
   border-radius: 50%;
   padding: 3px;
   border: solid 1px black;
}
header div#logo-div a#logo {
   display: inline-block;
   color: white;
   font-size: 20px;
   font-weight: 700;
   line-height: 40px;
   vertical-align: middle;
}
/* ---------- SEARCH + LOGS ---------- */
header div#interface {
   display: block;
   margin: 10px auto 5px auto;
}
/* ---------- SEARCH ---------- */
header div#interface div#searchbar {
   position: relative;
   background-color: lightgray;
   border-radius: 20px;
   padding: 8px 10px 10px 40px;
   width: 100%;
}
header div#interface div#searchbar input {
   border: none;
   background-color: lightgray;
   width: 100%;
}
header div#interface div#searchbar button {
   position: absolute;
   top: 0px;
   bottom: 0;
   left: 5px;
   right: 0;
   border: none;
   background-color: transparent;
   cursor: pointer;
}
/* ---------- LOGIN ---------- */
header div#interface div#connect {
   display: none;
}
/* ---------- MAIN CONTENT ---------- */
main {
   background-color: var(--opa-blue);
   min-height: calc(100vh - 42px);
   margin-top: 101px 0;
}
main div.container {
   padding: 10px 20px;
}
/* ---------- MENU DESKTOP ---------- */
main aside#sidebar-nav {
   display: none;
}
/* ---------- MENU MOBILE ---------- */

main div#burger {
   position: fixed;
   z-index: 999;
   background-color: rgba(211, 211, 211, 0.233);
   color: black;
   padding: 8px 6px;
   border-radius: 5px;
   top: 6px;
   right: 20px;
   cursor: pointer;
}
main div#burger span {
   position: relative;
   top: -3px;
   display: inline-block;
   width: 25px;
   height: 4px;
   border-radius: 5px;
   background-color: black;
   transition: all 0.2s;
}
main div#burger:hover span {
   background-color: transparent;
}
main div#burger span:before {
   content: "";
   display: block;
   position: absolute;
   top: -8px;
   width: 25px;
   height: 4px;
   border-radius: 5px;
   background-color: black;
   transition: all 0.3s;
}
main div#burger span:after {
   content: "";
   display: block;
   position: absolute;
   top: 8px;
   width: 25px;
   height: 4px;
   border-radius: 5px;
   background-color: black;
   transition: all 0.3s;

}
main div#burger:hover span:before {
   transform: rotate(-45deg);
   top: 0;
}
main div#burger:hover span:after {
   transform: rotate(45deg);
   top: 0;
}
main aside#mobile-nav {
   background-color: white;
   width: 300px;
   height: 100vh;
   position: fixed;
   top: 0;
   z-index: 998;
   padding-top: 80px;
   transform: translateX(-300px);
   
}
main aside#mobile-nav::after {
   content: "";
   display: block;
   position: absolute;
   top: 120px;
   right: 30px;
   bottom: 20px;
   width: 1px;
   background-color: black;
}
main aside#mobile-nav ul {
   font-size: 0;
   padding-top: 10px;
   margin-bottom: 40px;
}
main aside#mobile-nav ul li {
   margin: 30px 20px 0 40px;
}
main aside#mobile-nav ul li a {
   font-size: 14px;
}
main aside#mobile-nav ul li a i {
   width: 30px;
   text-align: center;
   font-size: 24px;
   color: var(--light-pink);
   padding: 2px;
   margin-right: 10px;
   vertical-align: middle;
}
main aside#mobile-nav p {
   text-align: left;
   font-size: 14px;
   padding: 0 10px 20px 10px;
   position: fixed;
   bottom: 5px;
}
main aside#mobile-nav p i {
   color: var(--light-pink);
}

/* Sign-up page */

#sign-up-form-container {
   width: 100%;
   padding-top: 130px;
}

#sign-up-form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#sign-up-form input, #sign-up-form label {
   padding: 8px 5px;
   width: 40%;
   font-weight: 700;
}

#sign-up-form input {
   border-radius: 2px;
   border: 1px solid;
}

#sign-up-form button {
   padding: 6px 15px;
   margin: 20px 0;
   background-color: #c06c84;
   font-weight: 700;
   border-radius: 2px;
   border: 1px solid black;
   color: white;
}


/*USER PROFILE*/

#profile_header{
   display : flex;
   margin-bottom : 2%;
}

#profile_header img{
   width : 7%;
   margin-left : 1%;
}

#profile_header h2{
   display : flex;
   align-items : center;
   margin-left : 2%;
}

#user_profile h3{
   margin-left : 1%;
   margin-bottom : 2%;
   margin-top : 2%;
   border-bottom : 3px var(--light-pink) solid;
   font-size : 1.4em;
}

#profil_items{
   margin : 2%;
}

#profil_items h4{
   margin-top : 2%;
}

#edit_profil a{
   padding: 6px 15px;
   background-color: #c06c84;
   font-weight: 700;
   border-radius: 2px;
   border: 1px solid black;
   color: white;
}

#user_profile form{
   display : flex;
   flex-direction : column;
   align-items : center;
}

#user_profile input, #user_profile label{
   padding: 8px 5px;
   width: 40%;
   font-weight: 700;
}

#user_profile input[type=submit]{
   margin-top : 3%;
   padding: 6px 15px;
   background-color: #c06c84;
   font-weight: 700;
   border-radius: 2px;
   border: 1px solid black;
   color: white;
   width : 30%;
}

#user_profile input[type=button]{
   margin-top : 2%;
   margin-bottom : 5%;
   padding: 6px 15px;
   background-color: #c06c84;
   font-weight: 700;
   border-radius: 2px;
   border: 1px solid black;
   color: white;
   width : 30%;
}

/*EDIT PROFIL*/

#user_profile textarea{
   width : 40%;
   height : 15vh;
}

/* Bottom-navbar */

#bottom-navbar {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: flex-end;
   background-color: var(--dark-blue);
   padding: 10px 0;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 999;

}

#bottom-navbar li {
   list-style-type: none;

}

#bottom-navbar li a {
   font-size: 0;
}

#bottom-navbar li a i {
   font-size: 20px;
   color: white;
}

/* ---------- FOOTER ---------- */
footer {
   display: none;
}
