@charset "utf-8";

:root {
   --dark-blue: #665c84;
   --light-pink: #c06c84;
   --opa-blue: #665c8421;
 }


header, section, footer, aside, nav, main, article, figure {
   display: block;
}
div, header, nav, article, section, aside, footer, h1, h2, h3, h4, h5, h6, p, a, ul, li, figure, figcaption, class, img {
    margin: 0;
    padding: 0;
}
*{
   box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: white;
    border: 0 solid transparent;
    font-size: 16px;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
    display: block;
    font-family: 'Roboto', sans-serif;
}
img, object, embed, canvas, video, audio, picture, svg {
    max-width: 100%;
    height: auto;
}
img {
   display: block;
}
a {
   text-decoration: none;
   color: black;
}
/* ------------------------------- RECURENTES -- */
.clear {
 display: block;
 zoom: 1;
}
.clear:after {
   content: " ";
   display: block;
   font-size: 0;
   height: 0;
   clear: both;
   visibility: hidden;
 }
.center {
   width: 960px;
   margin: 0 auto;
}
/* ------------------------------- END RECURENTES -- */
/* ------------------------------- SIMILAIRES ------ */
.primary-btn {
   border: solid 1px black;
   padding: 8px 50px;
   background-color: white;
   border-radius: 5px;
}
/* ---------- DEBUT CSS DESKTOP ---------- */

/* ---------- HEADER ---------- */
header {
   padding: 3px 20px;
   background-color: var(--dark-blue);
}
header div#logo-div img {
   display: inline-block;
   vertical-align: middle;
   background-color: white;
   border-radius: 50%;
   padding: 3px;
   border: solid 1px black;
}
header div#logo-div a#logo {
   display: inline-block;
   color: white;
   font-size: 24px;
   font-weight: 700;
   line-height: 40px;
   vertical-align: middle;
}
/* ---------- SEARCH + LOGS ---------- */
header div#interface {
   display: inline-block;
   position: absolute;
   top: 6px;
   right: 20px;
}
/* ---------- SEARCH ---------- */
header div#interface div#searchbar {
   display: inline-block;
   position: relative;
   background-color: lightgray;
   border-radius: 20px;
   padding: 8px 10px 10px 40px;
   width: 300px;
}
header div#interface div#searchbar input {
   border: none;
   background-color: lightgray;
}
header div#interface div#searchbar button {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 5px;
   right: 0;
   border: none;
   background-color: transparent;
   cursor: pointer;
}
/* ---------- LOGIN ---------- */
header div#interface div#connect {
   display: inline-block;
   vertical-align: middle;
}
header div#interface div#connect button {
   cursor: pointer;
   padding: 5px 30px;
}

/* ---------- MAIN CONTENT ---------- */
main {
   background-color: var(--opa-blue);
   display: flex;
   align-items: stretch;
   min-height: calc(100vh - 74px);
}

div.container {
   
   width: calc(100vw - 300px);
   padding: 10px 20px;
}
/* ---------- MENU DESKTOP ---------- */
main aside#sidebar-nav {
   background-color: white;
   width: 300px;
   position: relative;
   z-index: 998;
   padding-bottom: 40px;
   
}
main aside#sidebar-nav::after {
   content: "";
   display: block;
   position: absolute;
   top: 20px;
   right: 30px;
   width: 1px;
   height: calc(100% - 40px);
   background-color: black;
   
}
main aside#sidebar-nav ul { 
   font-size: 0;
   padding-top: 10px;
}
main aside#sidebar-nav ul li {
   margin: 40px 20px 0 40px;
}
main aside#sidebar-nav ul li a {
   font-size: 14px;
}
main aside#sidebar-nav ul li a:after {
   content: "";
   display: block;
   height: 2px;
   width: 0%;
   margin-left: 40px;
   background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
   transition: all .7s;
}
main aside#sidebar-nav ul li a:hover::after {
   width: 50%;
}
main aside#sidebar-nav ul li a i {
   width: 30px;
   text-align: center;
   font-size: 24px;
   color: var(--light-pink);
   padding: 2px;
   margin-right: 10px;
   vertical-align: middle;
}
/* ---------- MENU MOBILE ---------- */
main div#burger {
   display: none;
}
main aside#mobile-nav {
   display: none;
}
/* ---------- FOOTER ---------- */

footer {
   display: flex;
   justify-content: center;
   background-color: white;
   padding: 8px 0;
   border-top: 1px solid black;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 999;
}

footer i {
   color: var(--light-pink);
}

/* Sign-up page */

#sign-up-form-container {
   width: 100%;
   padding-top: 130px;
}

#sign-up-form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#sign-up-form input, #sign-up-form label {
   padding: 8px 5px;
   width: 40%;
   font-weight: 700;
}

#sign-up-form input {
   border-radius: 2px;
   border: 1px solid;
}

#sign-up-form button {
   padding: 6px 15px;
   margin: 20px 0;
   background-color: #c06c84;
   font-weight: 700;
   border-radius: 2px;
   border: 1px solid black;
   color: white;

}

/* fin du style pour la page sign up */

footer {
   position: relative;
   bottom: 0;
   z-index: 999;
   font-weight: 300;
   border-top: solid 1px black;
   text-align: center;
   padding: 2px 20px;
   background-color: white;
}

footer i {
   color: var(--light-pink);
}

/* Bottom-navbar */

section #bottom-navbar {
   display: none;
}

/* fin bottom-navbar */

/*USER PROFILE*/

#profile_header{
   display : flex;
   margin-bottom : 2%;
}

#profile_header img{
   width : 7%;
   margin-left : 1%;
}

#profile_header h2{
   display : flex;
   align-items : center;
   margin-left : 2%;
}

#user_profile h3{
   margin-left : 1%;
   margin-bottom : 2%;
   margin-top : 2%;
   border-bottom : 3px var(--light-pink) solid;
   font-size : 1.4em;
}

#profil_items{
   margin : 2%;
}

#profil_items h4{
   margin-top : 2%;
}

#edit_profil a{
   padding: 6px 15px;
   background-color: #c06c84;
   font-weight: 700;
   border-radius: 2px;
   border: 1px solid black;
   color: white;
}

#edit_profil{
   width : 146px;
   margin : auto;
}

#user_profile form{
   display : flex;
   flex-direction : column;
   align-items : center;
}

#user_profile input, #user_profile label{
   padding: 8px 5px;
   width: 40%;
   font-weight: 700;
}

#user_profile input[type=submit]{
   margin-top : 3%;
   padding: 6px 15px;
   background-color: #c06c84;
   font-weight: 700;
   border-radius: 2px;
   border: 1px solid black;
   color: white;
   width : 20%;
}

#user_profile input[type=button]{
   margin-top : 2%;
   margin-bottom : 5%;
   padding: 6px 15px;
   background-color: #c06c84;
   font-weight: 700;
   border-radius: 2px;
   border: 1px solid black;
   color: white;
   width : 20%;
}

/*EDIT PROFIL*/

#user_profile textarea{
   width : 40%;
   height : 15vh;
}

/* ------------------------ MEDIA QUERIES 960px ---- */
